-r requirements-base.txt
appdirs==1.4.4
awscli==1.38.28
botocore==1.37.28
CacheControl==0.14.2
certifi==2025.8.3
charset-normalizer==3.4.1
colorama==0.4.6
contextlib2==21.6.0
distlib>=0.3.3
distro==1.9.0
docutils==0.16
filelock==3.18.0
html5lib==1.1
idna==3.10
jmespath==1.0.1
lockfile==0.12.2
looptools==1.2.4
msgpack==1.1.1
ordered-set==4.1.0
packaging>=20.9
pep517>=0.12.0
progress==1.6
pyasn1==0.6.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
retrying==1.4.2
rsa==4.7.2
s3transfer==0.11.4
six>=1.16.0
tldextract==5.3.0
toml==0.10.2
tomli==2.2.1
tqdm==4.67.1
urllib3==1.26.18; python_version < "3.10"
urllib3==2.5.0; python_version >= "3.10"
validators==0.34.0
webencodings==0.5.1
