-r requirements-base.txt
appdirs==1.4.4
awscli==1.38.28; python_version < "3.9"
botocore==1.37.28; python_version < "3.9"
awscli==1.42.10; python_version >= "3.9"
botocore==1.40.10; python_version >= "3.9"
CacheControl==0.14.2
chardet==5.2.0
colorama==0.4.6
contextlib2==21.6.0
distlib>=0.3.1
distro==1.9.0
docutils==0.16; python_version < "3.9"
docutils==0.19; python_version >= "3.9"
filelock==3.16.1; python_version < "3.9"
filelock==3.19.1; python_version >= "3.9"
html5lib==1.1
idna==3.10
jmespath==1.0.1
lockfile==0.12.2
looptools==1.2.4
msgpack==1.1.1
ordered-set==4.1.0
packaging>=20.9
pep517>=0.9.1
progress==1.6.1
pyasn1==0.6.1
pyparsing==3.1.4; python_version < "3.9"
pyparsing==3.2.3; python_version >= "3.9"
python-dateutil==2.9.0.post0
pytoml==0.1.21
PyYAML==6.0.2
requests==2.32.4
requests-file==2.1.0
retrying==1.4.2
rsa==4.7.2
s3transfer==0.11.4; python_version >= "3.9"
s3transfer==0.13.1; python_version >= "3.9"
six>=1.15.0
tldextract==5.1.2; python_version <= "3.8"
tldextract==5.3.0; python_version >= "3.9"
toml==0.10.2
tqdm==4.67.1
urllib3==1.26.18; python_version < "3.10"
urllib3==2.5.0; python_version >= "3.10"
validators==0.34.0; python_version < "3.9"
validators==0.35.0; python_version >= "3.9"
webencodings==0.5.1
